<template lang="pug">

section.page-filter
	.page-filter__limiter

		aside.page-filter__aside

			ul.page-filter__controls(v-if="filters && filters.length")
				li.page-filter__controls-item(
					v-for="item in filters"
					:key="item.param"
				)

					h4.page-filter__aside-title {{item.title}}
					
					filter-checklist(
						v-if="item.type === 'check'"
						v-bind="item"
						:value="model[item.param]"
						@change="onFilter"
					)

					filter-reviews(
						v-else-if="item.type === 'reviews'"
						v-bind="item"
						:value="model[item.param]"
						@change="onFilter"
					)

					filter-price(
						v-else-if="item.type === 'price'"
						v-bind="item"
						:reset="!model[item.param]"
						@change="onFilter"
					)

			.page-filter__tools(v-if="isFiltered")
				button.page-filter__apply(@click="getItems") Применить фильтры
				button.page-filter__reset(@click="reset") Очистить фильтры

		div.page-filter__body

			ul.page-filter__list(v-if="items && items.length")
				li.page-filter__list-item(
					v-for="item in items"
					:key="item.id"
				)

					tile-item(v-bind="item")

			.page-filter__empty(v-else) 

				h3 К сожалению, по вашему запросу ничего не найдено :(

				button.page-filter__reset(@click="reset") Очистить фильтры

</template>

<script setup lang="ts">

import { useStore } from 'vuex'
import { key } from '@/store'
import { defineComponent, ref, reactive, computed } from 'vue'
import FilterChecklist from '@/components/FilterChecklist.vue'
import FilterReviews from '@/components/FilterReviews.vue'
import FilterPrice from '@/components/FilterPrice.vue'
import TileItem from '@/components/TileItem.vue'

const store = useStore(key)
const filters = computed(() => store.state.filters)
const items = computed(() => store.state.items)
const model = reactive({})

const isFiltered = computed(() => {
	let res = false

	for (let key in model) {
		if (model[key] !== null) {
			res = true
			break
		}
	}

	return res
})

filters.value.forEach((el) => {
	model[el.param] = null
})

const reset = function() {
	for (let key in model) {
		model[key] = null
	}

	getItems()
}

const onFilter = function(v) {
	model[v.param] = v.value
}

const getItems = function() {
	store.dispatch('getItems', model)
}

getItems()

</script>

<style lang="scss">

.page-filter {
	padding: 64px 48px;

	&__limiter {
		display: grid;
		grid-template-columns: 320px 1fr;
		gap: 48px;

		max-width: 1200px;
		margin: auto;
	}

	&__aside {
		&-title {
			margin: 0 0 16px;

			font-size: 16px;
		}
	}

	&__body {
		padding-top: 40px;
	}

	&__controls, &__list {
		margin: 0;
		padding: 0;

		list-style: none;

		&-item {
			margin-top: 32px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__tools {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;

		margin-top: 48px;
	}
}

</style>
