<template lang="pug">

label.filter-check
	input.filter-check__control(
		type="checkbox"
		:value="props.value"
		:checked="checked"
		@change="onChange"
	)

	.filter-check__title {{title}}

</template>

<script setup lang="ts">

import { defineProps, defineEmits } from 'vue'

const props = defineProps<{
	title: string
	value: number
	checked: boolean
}>()

interface ChangeData {
	value: number
	checked: booleab
}

const emit = defineEmits<{
	(e: 'change', data: ChangeData): void
}>()

const onChange = function(e) {
	emit('change', {
		value: props.value,
		checked: e.target.checked
	})
}

</script>

<style lang="scss">

.filter-check {
	display: flex;
	align-items: center;
	gap: 8px;

	cursor: pointer;

	&:not(:first-child) {
		margin-top: 6px;
	}

	&__control {
		width: 18px;
		height: 18px;

		appearance: checkbox;
	}

	&__title {
		font-size: 15px;
	}
}

</style>
