<template lang="pug">

.filter-checklist
	input.filter-checklist__search(
		v-if="search"
		:placeholder="searchTitle"
		v-model="searchValue"
	)

	.filter-checklist__list(v-if="controls && controls.length")
		filter-check(
			v-for="item in controls"
			v-bind="item"
			:checked="model.includes(item.value)"
			@change="onChange"
		)

	.filter-checklist__empty(v-else) 

		h3 К сожалению, по вашему запросу ничего не найдено :(

</template>

<script setup lang="ts">
import { defineProps, defineEmits, watch, ref, computed } from 'vue'
import FilterCheck from '@/components/FilterCheck.vue'

interface Props {
	type: string
	search: boolean
	searchTitle?: string
	param: string
	title: string
	items: object[]
	value: number[] | null
}

const props = defineProps<Props>()

interface ChangeData {
	param: string
	value: number[]
}

const emit = defineEmits<{
	(e: 'change', data: ChangeData): void
}>()

const searchValue = ref('')

const controls = computed(() => {

	if (!props.search && !searchValue.value) return props.items

	return props.items.filter((item) => {
		const title = item.title.toLowerCase()
		const str = searchValue.value.toLowerCase()

		return title.includes(str)
	})

})

let model = ref([])

const onChange = function(data: object) {
	const index = model.value.indexOf(data.value)

	if (data.checked) {
		if (index === -1) model.value.push(data.value)
	}
	else {
		if (index !== -1) model.value.splice(index, 1)
	}

	emit('change', {
		param: props.param, 
		value: model.value.length ? model.value : null
	})
}

watch(() => props.value, (v) => {
	if (!v) model.value = []
})

</script>

<style lang="scss">

.filter-checklist {
	&__search {
		margin-bottom: 16px;
	}

	&__list {
		padding: 24px 20px;

		border-radius: 10px;
		border: 1px solid #ddd;
	}
}

</style>
