<template lang="pug">

.filter-reviews
	input(
		:placeholder="caption"
		:value="value"
		@keydown="onKey"
		@input="onInput"
	)

</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue'

const props = defineProps<{
	type: string
	param: string
	title: string
	caption: string
	value: number | null
}>()

interface ChangeData {
	param: string
	value: number
}

const emit = defineEmits<{
	(e: 'change', data: ChangeData): void
}>()

const onKey = function (e) {
	if (e.key.length === 1 && /\D/.test(e.key)) {
		e.preventDefault();
	}
}

const onInput = function (e) {
	let value = e.target.value ? parseInt(e.target.value, 10) : 0
	emit('change', {param: props.param, value} )
}

</script>

<style lang="scss">

.filter-reviews {

}

</style>
