<template lang="pug">

.filter-price
	.filter-price__fields
		input(
			:placeholder="'От ' + min" 
			v-model="model[0]"
			@input="onChange"
		)

		input(
			:placeholder="'До ' + max"
			v-model="model[1]"
			@input="onChange"
		)

	slider(v-model="model" v-bind="options" @update="onChange")

</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import Slider from '@vueform/slider'

export default defineComponent({
	name: 'FilterPrice',

	components: {
		Slider
	},
	
	props: {
		type: String,
		param: String,
		title: String,
		min: Number,
		max: Number,
		reset: Boolean
	},

	setup (props, {emit}) {
		
		const model = ref([props.min, props.max])
		
		const options = {
			min: props.min,
			max: props.max,
			tooltips: false
		}

		const onChange = function () {
			emit('change', {
				param: props.param,
				value: (model.value[0] === props.min && model.value[1] === props.max) ? null : model.value
			})

		}

		watch(() => props.reset, (v) => {
			if (props.reset) {
				model.value[0] = props.min
				model.value[1] = props.max
			}
		})

		return {model, options, onChange}
	}
})

</script>

<style lang="scss">

@import '@vueform/slider/themes/default.css';

.filter-price {
	&__fields {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;

		margin-bottom: 24px;
	}
}

</style>
