<template lang="pug">

.tile-item
	.tile-item__body
		h3.tile-item__name {{name}}

		ul.tile-item__meta
			li.tile-item-meta__item Звезд: {{stars}}
			li.tile-item-meta__item {{type}}
			li.tile-item-meta__item Отзывы: {{reviews_amount}}
			li.tile-item-meta__item {{country}}
		
		.tile-item__info {{description}}

	.tile-item__foot
		.tile-item__price 
			.tile-item__price-value {{min_price}} ₽
			.tile-item__price-caption Цена за 1 ночь

</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
	name: 'TileItem',
	
	props: {
		'name': String,
		'type': String,
		'stars': Number,
		'reviews_amount': Number,
		'country': String,
		'description': String,
		'min_price': Number
	},
})

</script>

<style lang="scss">

.tile-item {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 40px;

	padding: 24px;

	border-radius: 10px;
	border: 1px solid #ddd;

	&__body {
		
	}

	&__name {
		margin: 0 0 16px;
	}

	&__meta {
		display: flex;
		gap: 16px;

		margin: 0 0 16px;
		padding: 0;

		list-style: none;

		font-size: 14px;
	}

	&__price {
		text-align: right;
		
		&-value {
			font-weight: 700;
			font-size: 24px;
		}

		&-caption {
			font-size: 14px;
		}
	}
}

</style>
