<template>
	<router-view/>
</template>

<style lang="scss">

body {
	margin: 0;

	background-color: #fff;
}

#app {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	color: #2c3e50;
}

input {
	display: block;

	width: 100%;
	height: 48px;

	appearance: none;

	box-sizing: border-box;
	padding: 0 16px;

	border-radius: 8px;
	border: 1px solid #ddd;
}
	
</style>
